html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
}

#findButton {
    position: fixed; 
    bottom: 10px;
    left: 10px;
}
.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    margin: auto;
    border-radius: 12px;
    font-family: "Times New Roman", Times, serif;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}
